:root {
    --whitesmoke: rgb(216, 215, 214);
    --dark-gray: rgb(143, 143, 143);
    --charcoal: rgb(56, 56, 56);
    }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  

/* HERO SECTION STYLES */
.hero-container {
    height: 515px;
    width: 100%;
}
  
.hero-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.hero-title {
    font-size: 72px;
    color: rgb(255, 255, 255);
    position: relative;
    top: -73%;
    left: 15%;
    width: 70%;
    margin: 0;
    opacity: 0.75;
}

.arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    color: white;
    opacity: 0.5;
    font-size: 16px;
    position: relative;
    top: -83%;
    cursor: pointer;
}

.hero-left-arrow {
    animation: slideLeft 3s infinite;
}

.hero-display {
    display: block;
}

.hero-no-display {
    display: none;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(-5px)
    }
    100% {
        transform: translateX(0)
    }
}

.hero-right-arrow {
animation: slideRight 3s infinite;
}

@keyframes slideRight {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0)
    }
}

/* FEATURED SECTION */
.featured-section {
    margin: 70px 40px;
    text-align: center;
}

.featured-img-container {
    overflow: hidden;
    width: 100%;
    border-radius: 25px;
    margin: 20px 0 10px 0;
}

.featured-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 3s, filter 3s ease-in-out;
    filter: brightness(100%);
}

.featured-img:hover {
    filter: brightness(110%);
    transform: scale(1.2);
    overflow: hidden;
}

.featured-text-container {
    width: 100%;
}

.featured-subtitle {
    text-transform: lowercase;
    letter-spacing: 0.02rem;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 5px;
}

.featured-plant-title {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
}

.featured-price {
    font-size: 12px;
    margin-top: 5px;
}

.featured-detail {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03rem;
    margin: 10px auto 0 auto;
    width: 80%;
}

.featured-detail.deactivate {
    display: none;
    /* animation: slideDown 2s; */
}


/* @keyframes slideDown {
    0% {
        height: 85;
        opacity: 1;
    }
    50% {
        
    }
    100% {
        height: 0;
        opacity: 0;
    }
} */

.featured-detail.active {
    display: block;
    animation: slideUp 2s;
}

@keyframes slideUp {
    0% {
        height: 10px;
        opacity: 0;
    }
    50% {
        height: 65px;
    }
    100% {
        height: 60px;
        opacity: 1;
    }
}

.homepage-button {
    display: block;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid var(--whitesmoke);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, rgb(13, 82, 53) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 1s ease-in-out;
}

.homepage-button:hover {
    background-position: left;
    transform: translateY(-5px);
    color: var(--whitesmoke);
}

.homepage-button:visited {
    color: var(--charcoal);
}

.homepage-button:visited:hover {
    color: var(--whitesmoke);
}

/* TEXT SECTION */
.text-section {
    padding: 70px 40px 50px 40px;
    background-color: rgba(244, 243, 243, 0.622);
}
.text-section-quote {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-style: italic;
}

.q-line-one {
    transition: transform 1.5s ;
    cursor: pointer;
}

.q-line-one:hover {
    transform: translateX(25px);
}


.q-line-two {
    text-align: right;
    margin-top: 10px;
    transition: transform 1.5s ;
    cursor: pointer;
}

.q-line-two:hover {
    transform: translateX(-25px);
}

.q-line-three {
    font-size: 12px;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 0.03rem;
    text-align: right;
    margin-top: 10px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        transform-origin: center;
    }
    to {
        transform: rotate(360deg);
        transform-origin: center;
    }
}

.seed-one {
    color: rgba(20, 87, 29, 0.827);
    font-size: 32px;
    position: relative;
    top: -35px;
    left: 10px;
}

.seed-one:hover {
    animation: spin 2s infinite;
}

.seed-two {
    color: rgba(20, 87, 29, 0.582);
    font-size: 52px;
    position: relative;
    top: -40px;
    right: 10px;
    transition: transform 1.1s ease-in-out;
}

.seed-two:hover {
    animation: spin 2s infinite;
}

/* HOMEPAGE BROWSE LISTINGS SECTIONS */
.more-listings-section {
    padding-bottom: 80px;
}

.more-listings-section .grid-item-container {
    cursor: auto;
}

.more-listings-section .show-grid-container {
    padding: 0 40px 20px 40px;
}

.card-img.homepage {
    transition: transform 3s, filter 3s ease-in-out;
    filter: brightness(100%);
}

.card-img-container {
    overflow: hidden;
}

.card-img.homepage:hover {
    filter: brightness(110%);
    transform: scale(1.2);
    overflow: hidden;
}

.more-listings-section .homepage-button {
    margin: 0 auto;
    display: block;
    width: fit-content;
}


@media only screen and (min-width: 768px) {
    .hero-container {
        height: 560px;
    }
    .hero-pic {
        object-position: center;
    }
    .hero-title {
        font-size: 95px;
        line-height: 95px;
        left: 10%;
        top: -65%;
    }
    .arrow-container {
        font-size: 20px;
        margin: 0 30px;
    }
    .featured-section {
        margin: 80px;
    }
    .featured-content-section {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 30px;  
    }
    .featured-text-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;
    }
    .featured-plant-title {
        font-size: 24px;
    }
    .featured-price {
        font-size: 16px;

    }
    .featured-detail {
        font-size: 20px;
        line-height: 28px;
        margin: 15px 0 0 0;
        width: 100%;
    }
    .homepage-button {
        width: fit-content;
        margin-top: 20px;
    }
    @keyframes slideUp {
        0% {
            height: 40px;
            opacity: 0;
        }
        50% {
            height: 95px;
        }
        100% {
            height: 85px;
            opacity: 1;
        }
    }
    .text-section {
        padding: 100px 120px 80px 120px;
    }
    .text-seed-container {
        width: 90%;
        margin: 0 auto;
    }
    .text-section-quote {
        font-size: 30px;
    }
    .q-line-two {
        margin-top: 20px;
    }
    .q-line-three {
        font-size: 22px;
    }
    .seed-one {
        font-size: 52px;
    }
    .seed-two {
        font-size: 72px;
    }
    .more-listings-section .show-grid-container {
        padding: 0 60px 20px 60px;
    }
}

@media only screen and (min-width: 1200px) { 
    .hero-container {
        height: 700px;
    }
    .hero-pic {
        object-position: center;
    }
    .hero-title {
        font-size: 105px;
        line-height: 105px;
        top: -68%;
        left: 15%;
    }
    .arrow-container {
        font-size: 24px;
        margin: 0 40px;
    }
    .featured-section {
        margin: 100px 150px;
    }
    .featured-img {
        height: 500px;
    }
    .featured-subtitle {
        font-size: 16px;
    }
    .featured-plant-title {
        font-size: 28px;
    }
    .featured-detail {
        font-size: 24px;
        line-height: 36px;
    }
    .featured-price {
        font-size: 16px;
        margin: 0;
    }
    .homepage-button {
        padding: 10px 15px;
    }
    .text-seed-container {
        width: 50%;
        margin: 0 auto;
    }
    .seed-one {
        font-size: 62px;
        top: -45px;
    }
    .seed-two {
        font-size: 82px;
        top: -50px;
    }
    .more-listings-section .show-grid-container {
        padding: 0 150px 40px 150px;
    }
}